<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:person.properties"/>

    <bean id="updateSql" class="springsxml.Services.LogToConsole">

    </bean>
    <bean id="Person" class="springsxml.beans.Person">
        <property name="logService" ref="updateSql"></property>

        <property name="Name" value="${c1.name}"></property>
        <property name="SelfieFileName" value="${c1.SelfieFileName}"></property>
        <property name="Bio" value="${c1.Bio}"></property>
    </bean>

</beans>